<div class="main-container">

  <header class="header header-6">
    <div class="header-nav">

    </div>
    <div class="header-actions">

      <a class="nav-link" (click)="download($event)">
        <clr-icon shape="download"></clr-icon>
      </a>


    </div>
  </header>
  <div class="content-container">
    <div class="content-area" style="overflow: hidden;">

      <input type="file" (change)="fileChangeEvent($event)" />

      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        format="png" (imageCropped)="imageCropped($event)"></image-cropper>

      <!-- <img [src]="croppedImage" /> -->


      <canvas #myCanvas id="myCanvas" width="1080" height="1080" resize></canvas>
      <!-- <canvas id="myCanvas"></canvas> -->

    </div>
  </div>
</div>