.header {
    .header-nav {
        a {
            color: #fff;
        }
    }
}

canvas {
    position: relative;
    transform-origin: 0 0;
    width: 1080px;
    height: 1080px;
    // border: solid 1px red;
    background-color: rgba(0, 0, 0, 0.1);
}
